body {
  min-height: 100vh;
  margin: 0;
  background: #2C2B3D;
  
  font-family: 'Open Sans', sans-serif;
}

.page {
  width: 1280px;

  margin: 0 auto;
  padding-top: 71px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2px;
  margin: 0 99px 101px;

  font-family: 'JetBrains Mono', monospace;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
  align-items: center;

  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: #FFF;
}

main {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  
}

h1 {
  font-family: JetBrains Mono;
  font-size: 36px;
  font-style: normal;
  line-height: 40px;
  width: 609px;
  margin-bottom: 59px;

  color: #FFF;
}

span {
  color: #00BFA6;
  font-weight: bold;
}

p {
  width: 604px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;

  color: #C2C2C2;
}

#footer {
  margin: 157px auto;
  width: 568px;
  text-align: center;
}

#footer p {
  width: 462px;
  color: #FFF;
  margin: 0 auto;

  
  font-family: JetBrains Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.line {
  width: 568px;
  border: 1px solid #00BFA6;
  margin: 0 auto 27px;

}

#padlock {
  width: 51px;
  height: 62px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}